
*{
    box-sizing: border-box;
}

header {
    text-align: center;
    text-transform: uppercase;
    color: #69e76d;
}
body{
    margin:auto;
    font-family: 'Times New Roman', Times, serif;
    background-color:rgba(182, 160, 243, 0.493)
}
form {
    border: 3px solid #f1f1f1;
    background-color: #595d61ec;
  }

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(234, 239, 240);
    box-sizing: border-box;
    background-color: #edf3f1
  }
 button {
    background-color: #04AA6D;
    color: rgb(167, 197, 182);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  button:hover {
    opacity: 0.8;
  }

  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  /* Avatar image */
img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }
